@color-primary: #F77F00;
:root {
  --font-primary:  Whitney,-apple-system,BlinkMacSystemFont,PingFang SC,"Microsoft YaHei New",Segoe UI,Helvetica Neue,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  //--font-primary: -apple-system,PingFang SC;
  --font-display: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  font-display:auto;
}
@font-face{
  font-family:Whitney;
  font-weight:300;
  src:url("../../assets/font/whitney300.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:400;
  src:url("../../assets/font/whitney400.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:500;
  src:url("../../assets/font/whitney500.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:600;
  src:url("../../assets/font/whitney600.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:700;
  src:url("../../assets/font/whitney700.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:300;
  src:url("../../assets/font/ginto300.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:400;
  src:url("../../assets/font/ginto400.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:500;
  src:url("../../assets/font/ginto500.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:600;
  src:url("../../assets/font/ginto600.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:700;
  src:url("../../assets/font/ginto700.woff") format("woff")
}
::-webkit-input-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
::-moz-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
:-ms-input-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
::placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility;
}
body, html, #app {
  height: 100%;
  width: 100%;
}
input::placeholder {
  opacity: .3;
}
ol, ul {
  list-style: none;
}
a,button,div,input,label,select,span,strong,textarea{
  outline: 0;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
a:hover {
  text-decoration: underline;
}
img[alt]{
  text-indent:-9999px;
}
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-track{
  border-color:var(--scrollbar-thin-track);
  background-color:var(--scrollbar-thin-track);
  border:2px solid var(--scrollbar-thin-track);
}
::-webkit-scrollbar-thumb{
  background-clip:padding-box;
  border:2px solid transparent;
  border-radius:4px;
  background-color:var(--scrollbar-thin-thumb);
  min-height:40px;
}
::-webkit-scrollbar-corner{
  background-color:transparent
}
/*::-webkit-scrollbar{width:16px;height:16px;}
::-webkit-scrollbar-track{background-color:var(--scrollbar-auto-track);}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-track{border:4px solid transparent;background-clip:padding-box;border-radius:8px;}
::-webkit-scrollbar-thumb{background-color:var(--scrollbar-auto-thumb);min-height:40px;}
::-webkit-scrollbar-corner{background-color:transparent}*/
.theme-dark,.theme-light{
  --background-modifier-hover:rgba(116,127,141,0.08);
  --background-modifier-active:rgba(116,127,141,0.16);
  --background-modifier-selected:rgba(116,127,141,0.24);
  --background-modifier-accent:rgba(6,6,7,0.08);
  --info-positive-text:#000;
  --info-warning-text:#000;
  --info-danger-text:#000;
}
.theme-dark {
  --scrollbar-thin-thumb:#202225;
  --scrollbar-thin-track:transparent;
  --scrollbar-auto-thumb:#202225;
  --scrollbar-auto-track:hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
  --scrollbar-auto-scrollbar-color-thumb:#202225;
  --scrollbar-auto-scrollbar-color-track:#2f3136;
  --channels-default: #8e9297;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link-low-saturation: hsl(197, calc(var(--saturation-factor, 1) * 100%), 52.9%);
  --text-positive: hsl(139, calc(var(--saturation-factor, 1) * 66.8%), 58.6%);
  --text-warning: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --text-brand: hsl(235, calc(var(--saturation-factor, 1) * 86.1%), 77.5%);
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;

  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-accent: rgba(255, 255, 255, 0.06);
  --background-modifier-selected:rgba(79,84,92,0.32);
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --channeltextarea-background: #40444b;

  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
  --elevation-medium: 0 4px 4px rgba(0, 0, 0, 0.16);
  --elevation-high: 0 8px 16px rgba(0, 0, 0, 0.24);

  --activity-card-background: #202225;
  --deprecated-card-bg: rgba(32, 34, 37, 0.6);
  --deprecated-card-editable-bg: rgba(32, 34, 37, 0.3);
  --deprecated-text-input-bg: rgba(0, 0, 0, 0.1);
  --deprecated-text-input-border: rgba(0, 0, 0, 0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix:#dcddde;
}
.theme-light {
  --scrollbar-thin-thumb:rgba(79,84,92,0.3);
  --scrollbar-thin-track:transparent;
  --scrollbar-auto-thumb:#ccc;
  --scrollbar-auto-track:#f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb:#e3e5e8;
  --scrollbar-auto-scrollbar-color-track:#f2f3f5;
  --channels-default: #6a7480;
  --header-primary: #060607;
  --header-secondary: #4f5660;
  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-link-low-saturation: hsl(212, calc(var(--saturation-factor, 1) * 100%), 43.9%);
  --text-positive: hsl(139, calc(var(--saturation-factor, 1) * 47.3%), 43.9%);
  --text-warning: hsl(38, calc(var(--saturation-factor, 1) * 95.7%), 54.1%);
  --text-danger: hsl(359, calc(var(--saturation-factor, 1) * 82.6%), 59.4%);
  --text-brand: hsl(235, calc(var(--saturation-factor, 1) * 85.6%), 64.7%);
  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;

  --background-primary: #fff;
  --background-secondary: #f2f3f5;
  --background-mobile-primary: #f8f9f9;
  --background-mobile-secondary: #fff;
  --background-modifier-accent: rgba(6, 6, 7, 0.08);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-secondary-alt: #ebedef;
  --background-tertiary: #e3e5e8;
  --background-accent: #747f8d;
  --background-floating: #fff;

  --channeltextarea-background:#ebedef;
  --elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
  --elevation-medium:0 4px 4px rgba(0,0,0,0.08);
  --elevation-high:0 8px 16px rgba(0,0,0,0.16);

  --activity-card-background: #fff;
  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246, 246, 247, 0.6);
  --deprecated-text-input-bg: rgba(79, 84, 92, 0.02);
  --deprecated-text-input-border: rgba(79, 84, 92, 0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix:#b9bbbe;
}
body {
  background: #fff;
  direction: ltr;
  font-size: 15px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}
button {
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
text, foreignObject {
  display: block;
}
.owner-icon {
  color: var(--text-warning);
  margin-left: 4px;
}
.icon-wrapper {
  position: relative;
  height: 24px;
  width: auto;
  flex: 0 0 auto;
  margin: 0 8px;
}
.look-blank {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.clickable {
  cursor: pointer;
}
.signup-bg-stars{
  animation:animStar 100s linear infinite;
  background:transparent;
  box-shadow:594px 522px rgba(255,255,255,.2),1556px 666px #fff,1535px 969px #fff,944px 350px #fff,620px 693px #fff,284px 1571px #fff,458px 41px #fff,254px 1977px #fff,1015px 339px #fff,1603px 1921px #fff,1336px 341px #fff,700px 1886px #fff,522px 875px #fff,1273px 1858px #fff,470px 1618px #fff,1549px 898px #fff,314px 931px #fff,1265px 1052px #fff,289px 73px #fff,986px 1231px #fff,1867px 1300px #fff,1459px 1670px #fff,174px 607px #fff,1616px 562px #fff,199px 721px #fff,209px 553px #fff,1659px 598px #fff,491px 190px #fff,3px 1530px #fff,337px 440px #fff,639px 1574px #fff,1633px 1844px #fff,500px 1806px #fff,1106px 333px #fff,1199px 1190px #fff,1785px 1736px #fff,297px 247px #fff,1710px 1522px #fff,480px 56px #fff,1941px 823px #fff,156px 894px #fff,1247px 1237px #fff,151px 896px #fff,1953px 1776px #fff,1532px 1939px #fff,23px 274px #fff,1811px 1px #fff,325px 493px #fff,1708px 840px #fff,224px 1649px #fff,244px 326px #fff,982px 954px #fff,1941px 323px #fff,290px 223px #fff,1287px 1766px #fff,860px 968px #fff,1871px 1994px #fff,720px 538px #fff,1104px 1529px #fff,1710px 1651px #fff,1338px 1105px #fff,818px 1854px #fff,342px 1805px #fff,511px 482px #fff,1721px 1466px #fff,319px 1587px #fff,681px 1728px #fff,929px 1723px #fff,509px 1261px #fff,1153px 481px #fff;
  height:1px;
  width:1px;
  z-index:-200
}
.signup-bg-stars:after{
  background:transparent;
  border-radius:10px;
  box-shadow:594px 522px rgba(255,255,255,.2),1556px 666px #fff,1535px 969px #fff,944px 350px #fff,620px 693px #fff,284px 1571px #fff,458px 41px #fff,254px 1977px #fff,1015px 339px #fff,1603px 1921px #fff,1336px 341px #fff,700px 1886px #fff,522px 875px #fff,1273px 1858px #fff,470px 1618px #fff,1549px 898px #fff,314px 931px #fff,1265px 1052px #fff,289px 73px #fff,986px 1231px #fff,1867px 1300px #fff,1459px 1670px #fff,174px 607px #fff,1616px 562px #fff,199px 721px #fff,209px 553px #fff,1659px 598px #fff,491px 190px #fff,3px 1530px #fff,337px 440px #fff,639px 1574px #fff,1633px 1844px #fff,500px 1806px #fff,1106px 333px #fff,1199px 1190px #fff,1785px 1736px #fff,297px 247px #fff,1710px 1522px #fff,480px 56px #fff,1941px 823px #fff,156px 894px #fff,1247px 1237px #fff,151px 896px #fff,1953px 1776px #fff,1532px 1939px #fff,23px 274px #fff,1811px 1px #fff,325px 493px #fff,1708px 840px #fff,224px 1649px #fff,244px 326px #fff,982px 954px #fff,1941px 323px #fff,290px 223px #fff,1287px 1766px #fff,860px 968px #fff,1871px 1994px #fff,720px 538px #fff,1104px 1529px #fff,1710px 1651px #fff,1338px 1105px #fff,818px 1854px #fff,342px 1805px #fff,511px 482px #fff,1721px 1466px #fff,319px 1587px #fff,681px 1728px #fff,929px 1723px #fff,509px 1261px #fff,1153px 481px #fff;
  content:" ";
  height:1px;
  opacity:.7;
  position:absolute;
  top:2000px;
  width:1px
}
.signup-bg-stars-2{
  animation:animStar 150s linear infinite;
  box-shadow:374px 910px rgba(255,255,255,.2),1909px 1026px #fff,1976px 1302px #fff,676px 423px #fff,948px 75px #fff,948px 683px #fff,1647px 1845px #fff,1659px 1540px #fff,1066px 996px #fff,1303px 1439px #fff,1000px 1778px #fff,1874px 1381px #fff,786px 388px #fff,177px 483px #fff,1743px 78px #fff,686px 1435px #fff,1183px 1480px #fff,900px 838px #fff,514px 1772px #fff,1560px 273px #fff;
  height:2px;
  width:2px
}
.signup-bg-stars-2:after{
  box-shadow:374px 910px rgba(255,255,255,.2),1909px 1026px #fff,1976px 1302px #fff,676px 423px #fff,948px 75px #fff,948px 683px #fff,1647px 1845px #fff,1659px 1540px #fff,1066px 996px #fff,1303px 1439px #fff,1000px 1778px #fff,1874px 1381px #fff,786px 388px #fff,177px 483px #fff,1743px 78px #fff,686px 1435px #fff,1183px 1480px #fff,900px 838px #fff,514px 1772px #fff,1560px 273px #fff;
  height:2px;
  width:2px
}
.signup-bg-stars-3{
  animation:animStar 200s linear infinite;
  box-shadow:369px 371px rgba(255,255,255,.2),125px 377px #fff,1771px 873px #fff,1646px 1664px #fff,1534px 606px #fff,1001px 370px #fff,718px 1236px #fff,1618px 151px #fff,860px 1381px #fff,1109px 380px #fff;
  height:3px;
  width:3px
}
.signup-bg-stars-3:after{
  box-shadow:369px 371px rgba(255,255,255,.2),125px 377px #fff,1771px 873px #fff,1646px 1664px #fff,1534px 606px #fff,1001px 370px #fff,718px 1236px #fff,1618px 151px #fff,860px 1381px #fff,1109px 380px #fff;
  height:3px;
  width:3px
}
.loaded {
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  height: 320px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  transition: box-shadow .2s ease-out,transform .2s ease-out,background .2s ease-out,opacity .2s ease-in,-webkit-box-shadow .2s ease-out,-webkit-transform .2s ease-out;
  cursor: pointer;
  background-color: var(--activity-card-background);
}
@keyframes animStar{
  0%{transform:translateY(0)}
  to{transform:translateY(-2000px)}
}
@media (prefers-reduced-motion){
  .signup-bg-stars,.signup-bg-stars-2,.signup-bg-stars-3{animation:none}
}

.ant-col {
  width: 100%;
}
.ant-input {
  padding-left: 10px;
  background-color: transparent;
  color: var(--text-normal);
  font-size: 15px;
  border: 1px solid var(--deprecated-text-input-border);
}
.form-login {
  .ant-form-item-label > label {
    color: var(--channels-default);
  }
  .ant-input-affix-wrapper {
    background-color: var(--deprecated-text-input-bg);
    border: 1px solid var(--deprecated-text-input-border);
    transition: border-color .2s ease-in-out;
    //&:hover {
    //  border-color: var(--deprecated-text-input-border-hover);
    //}
    .ant-input-prefix, .ant-input-suffix, .ant-input-password-icon {
      color: var(--deprecated-text-input-prefix);
    }
  }
  .ant-input-affix-wrapper-focused {
    box-shadow: none;
    border-color: @color-primary;
  }
  .code-input .ant-input-affix-wrapper {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .ant-input-group {
    position: relative;
  }
  .ant-input-group-addon {
    position: absolute;
  }
  .ant-btn-primary[disabled], .ant-btn-primary[disabled]:hover, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:active {
    background-color: rgba(255,144,40, .2);
    border: none;
  }
  .ant-form-item-has-error .ant-input, .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
    background-color: var(--deprecated-text-input-bg);
  }
  .ant-input-group > .ant-input:last-child, .ant-input-group-addon:last-child {
    position: absolute;
    top:4px;
    right: 6px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 0;
    width: auto;
  }
}
.ant-tooltip-inner {
  color: var(--header-primary) !important;
  background-color: var(--background-primary) !important;
}
.ant-tooltip-arrow-content {
  background-color: var(--background-primary) !important;
}
.ant-modal-mask {
  background-color: rgba(0, 0, 0, .85) !important;
}
.reg-wrap {
  position: relative;
  box-sizing: border-box;
  //background: linear-gradient(10deg, #f58229, #e65925 20%, #ef4129 40%, #e31f26 60%, #ed1164 80%,#ec008c);
  background-color: #040d21;
  overflow: hidden;
  display: flex;
  flex: auto;
  flex-direction: column;
  height: 100%;
  svg.home-hero-glow {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200%;
    g #a {
      fill: #fff;
    }
  }
  .reg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    .reg-block {
      display: block;
      max-width: 780px;
      z-index: 1;
      .user-layout-login,.user-layout-register {
        background: var(--background-mobile-primary);
        width: 780px;
        padding: 32px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
        border-radius: 5px;
        box-sizing: border-box;
        transform: scale(1) translateY(0px) translateZ(0px);
      }
      .user-layout-login {
        .reg-box {
          flex: 1 1 auto;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: center;
          display: flex;
          .reg-con {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            align-items: flex-start;
            overflow: hidden;
            font-size: 15px;
          }
        }
      }
      .user-layout-register {
        width: 480px;
        .reg-box .reg-con h3 {
          text-align: center;
        }
      }
      .reg-box {
        .reg-con {
          h3 {
            font-family: var(--font-display);
            font-weight: 600;
            color: var(--header-primary);
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 8px;
          }
          .tips {
            color: #202124;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: .1px;
            line-height: 1.5;
            padding-bottom: 8px;
            .ant-alert {
              align-items: center;
              .ant-alert-content {
                text-align: left;
              }
            }
          }
          .form-login {
            display: inline-block;
            font-size: 15px;
            vertical-align: top;
            white-space: normal;
            width: 100%;
            .forget-password {
              color: @color-primary;
              margin-bottom: 10px;
            }
            button.reg-btn {
              width: 100%;
              min-width: 130px;
              min-height: 44px;
              font-size: 16px;
            }
          }
          .login-footer {
            color: #72767d;
            margin-top: 4px;
            span {
              font-size: 14px;
              line-height: 16px;
            }
            p.sub-text {
              color: var(--text-muted);
              font-size: 12px;
              line-height: 16px;
              margin-top: 20px;
            }
          }
        }
        .vertical-separator {
          margin: 0 32px;
        }
        .qr-login {
          width: 240px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          .qr-code {
            display: flex;
            width: 176px;
            height: 176px;
            position: relative;
            margin-bottom: 32px;
            img {
              width: 176px;
              height: 176px;
              border-radius: 4px;
            }
            .qr-code-overlay {
              width: 100%;
              height: 100%;
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              img {
                width: 50px;
                height: 50px;
                display: flex;
                image-rendering: crisp-edges;
              }
            }
          }
          h3 {
            font-weight: 600;
            font-size: 24px;
            font-family: var(--font-display);
            color: var(--header-primary);
            line-height: 30px;
            margin-bottom: 8px;
          }
          p {
            color: var(--header-secondary);
            font-size: 16px;
            line-height: 20px;
            span {
              color: @color-primary;
            }
          }
        }
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    p {
      font-size: 12px;
      color: #627597;
    }
  }
}
.layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    box-sizing: border-box;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
  }
  .visible {
    position: relative;
    overflow: visible;
  }
  .guilds {
    position: relative;
    width: 72px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-tertiary);
    .guilds-tree {
      display: flex;
      height: 100%;
    }
  }
  .base {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
  }
}
.form-login, .ant-modal-content {
  .ant-select {
    &:not(.ant-select-customize-input) .ant-select-selector {
      background-color: var(--deprecated-text-input-bg);
      border: 1px solid var(--deprecated-text-input-border);
      min-height: 40px;
      position: relative;
      transition: border 0.15s ease 0s;
      box-sizing: border-box;
      outline: 0 !important;
    }
    .ant-select-selector {
      border: 1px solid transparent;
      cursor: pointer;
      color: var(--text-normal);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      font-weight: 500;
    }
    .ant-select-arrow {

    }
    .ant-select-arrow .anticon {
      color: var(--text-normal);
    }
  }
}
.status-modal {
  pointer-events: all !important;
  display: flex;
  flex-direction: column;
}
.ant-modal-body {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}
.ant-modal-content, .ant-modal-header {
  .ant-modal-close {
    color: var(--interactive-normal);
    line-height: 24px;
    font-weight: 600;
    &:hover {
      color: var(--interactive-hover);
    }
    .ant-modal-close-x {
      font-size: 20px;
    }
  }
}
.ant-modal-footer {
  border-top: none;
  border-radius: 0 0 5px 5px;
  padding: 16px;
  .ant-btn {
    height: 38px;
    min-width: 96px;
    min-height: 38px;
  }
}
.ant-btn {
  background-color: transparent;
  border: none;
  color: var(--interactive-active);
}
.ant-btn-primary {
  background-color: @color-primary;
  color: #fff;
}
.ant-select-dropdown {
  border: 1px solid var(--background-tertiary);
  background: var(--background-secondary);
  border-radius: 0 0 4px 4px;
}
.ant-select-item {
  padding: 12px;
  cursor: pointer;
  color: var(--interactive-normal);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  color: var(--interactive-active);
  background-color: var(--background-tertiary);
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--background-secondary-alt);
  color: var(--interactive-hover);
}
.ant-popover {
  .ant-popover-message {
    color: var(--header-secondary);
  }
  .ant-popover-inner {
    box-shadow: var(--elevation-high);
    background: var(--background-floating);
  }
}
.ant-popover-placement-top > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topLeft > .ant-popover-content > .ant-popover-arrow,
.ant-popover-placement-topRight > .ant-popover-content > .ant-popover-arrow {
  border-right-color: var(--background-floating);
  border-bottom-color: var(--background-floating);
}

.theme-dark {
  .card,.icon-mask {
    background-color: var(--background-secondary-alt);
    &:hover {
      background-color: var(--background-tertiary)
    }
  }
  .ant-modal-content {
    background-color: #36393f;
    box-shadow: 0 0 0 1px rgb(32 34 37 / 60%), 0 2px 10px 0 rgb(0 0 0 / 20%);
    .ant-modal-header {
      background-color: #36393f;
      border-bottom-width: 0;
      .ant-modal-title {
        color: white;
      }
    }
  }
  .ant-modal-footer {
    background-color: #2f3136;
    box-shadow: inset 0 1px 0 rgba(47,49,54,.6);
  }
  .children:after {
    background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-primary));
  }
  .default-keg{background-color:#36393f}
  .default-keg:hover{background-color:null}
  .button{
    box-shadow:0 0 0 1px rgba(32,34,37,.6),0 1px 5px 0 rgba(0,0,0,.3)
  }
  .button:hover{
    box-shadow:0 0 0 1px rgba(32,34,37,.6),0 2px 10px 0 rgba(0,0,0,.2)
  }
}
.theme-light {
  .card {
    box-shadow: 0 0 0 1px rgba(185,187,190,.3),var(--elevation-medium);
    &:focus,&:hover {
      box-shadow: var(--elevation-high)
    }
  }
  .ant-modal-content {
    background: #fff;
    box-shadow: 0 0 0 1px rgb(185 187 190 / 30%), 0 2px 10px 0 rgb(0 0 0 / 10%);
  }
  .ant-modal-footer {
    background-color: #f6f6f7;
    box-shadow:inset 0 1px 0 rgba(246, 246, 247, .6)
  }
  .children:after {
    background:linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, var(--background-primary))
  }
  .default-keg{
    background-color:#fff
  }
  .default-keg:hover{
    background-color: null;
  }
  .button {
    box-shadow:0 0 0 1px rgba(185,187,190,.3),0 1px 5px rgba(0,0,0,.2)
  }
  .button:hover{
    box-shadow:0 0 0 1px rgba(185,187,190,.3),0 2px 10px 0 rgba(0,0,0,.1)
  }
}

