@color-primary: #ff9029;
:root {
  --font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-display: Ginto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-chinese-simplified: Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-traditional: Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
@font-face{
  font-family:Whitney;
  font-weight:300;
  src:url("../../assets/font/whitney300.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:400;
  src:url("../../assets/font/whitney400.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:500;
  src:url("../../assets/font/whitney500.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:600;
  src:url("../../assets/font/whitney600.woff") format("woff")
}
@font-face{
  font-family:Whitney;
  font-weight:700;
  src:url("../../assets/font/whitney700.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:300;
  src:url("../../assets/font/ginto300.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:400;
  src:url("../../assets/font/ginto400.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:500;
  src:url("../../assets/font/ginto500.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:600;
  src:url("../../assets/font/ginto600.woff") format("woff")
}
@font-face{
  font-family:Ginto;
  font-weight:700;
  src:url("../../assets/font/ginto700.woff") format("woff")
}
::-webkit-input-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
::-moz-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
:-ms-input-placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility
}
::placeholder,body,button,input,select,textarea{
  font-family:var(--font-primary);
  text-rendering:optimizeLegibility;
}
html:lang(zh-CN) ::placeholder,
html:lang(zh-CN) body,
html:lang(zh-CN) button,
html:lang(zh-CN) input,
html:lang(zh-CN) select,
html:lang(zh-CN) textarea {
  font-family: var(--font-chinese-simplified);
}
body, html, #app {
  height: 100%;
  width: 100%;
}
ol, ul {
  list-style: none;
}
a,button,div,input,label,select,span,strong,textarea{
  outline: 0;
}
a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
img[alt]{
  text-indent:-9999px;
}
::-webkit-scrollbar{
  width:8px;
  height:8px;
}
::-webkit-scrollbar-track{
  border-color:var(--scrollbar-thin-track);
  background-color:var(--scrollbar-thin-track);
  border:2px solid var(--scrollbar-thin-track);
}
::-webkit-scrollbar-thumb{
  background-clip:padding-box;
  border:2px solid transparent;
  border-radius:4px;
  background-color:var(--scrollbar-thin-thumb);
  min-height:40px;
}
::-webkit-scrollbar-corner{
  background-color:transparent
}
/*::-webkit-scrollbar{width:16px;height:16px;}
::-webkit-scrollbar-track{background-color:var(--scrollbar-auto-track);}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-track{border:4px solid transparent;background-clip:padding-box;border-radius:8px;}
::-webkit-scrollbar-thumb{background-color:var(--scrollbar-auto-thumb);min-height:40px;}
::-webkit-scrollbar-corner{background-color:transparent}*/
.theme-dark,.theme-light{
  --background-modifier-hover:rgba(116,127,141,0.08);
  --background-modifier-active:rgba(116,127,141,0.16);
  --background-modifier-selected:rgba(116,127,141,0.24);
  --background-modifier-accent:rgba(6,6,7,0.08);
  --info-positive-text:#000;
  --info-warning-text:#000;
  --info-danger-text:#000;
}
.theme-dark {
  --scrollbar-thin-thumb:#202225;
  --scrollbar-thin-track:transparent;
  --scrollbar-auto-thumb:#202225;
  --scrollbar-auto-track:hsl(210,calc(var(--saturation-factor, 1)*9.8%),20%);
  --scrollbar-auto-scrollbar-color-thumb:#202225;
  --scrollbar-auto-scrollbar-color-track:#2f3136;
  --channels-default: #8e9297;
  --header-primary: #fff;
  --header-secondary: #b9bbbe;

  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-warning: #faa81aff;
  --text-danger: hsl(359,calc(var(1, 1)*82.6%),59.4%);
  --text-brand: hsl(235,calc(var(1, 1)*85.6%),64.7%);

  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;

  --background-primary: #36393f;
  --background-tertiary: #202225;
  --background-secondary: #2f3136;
  --background-modifier-accent: rgba(255, 255, 255, 0.06);
  --background-modifier-selected:rgba(79,84,92,0.32);
  --background-secondary-alt: #292b2f;

  --elevation-medium:0 4px 4px rgba(0,0,0,0.16);
  --elevation-high:0 8px 16px rgba(0,0,0,0.24);
  --elevation-low: 0 1px 0 rgba(4, 4, 5, 0.2), 0 1.5px 0 rgba(6, 6, 7, 0.05), 0 2px 0 rgba(4, 4, 5, 0.05);
}
.theme-light {
  --scrollbar-thin-thumb:rgba(79,84,92,0.3);
  --scrollbar-thin-track:transparent;
  --scrollbar-auto-thumb:#ccc;
  --scrollbar-auto-track:#f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb:#e3e5e8;
  --scrollbar-auto-scrollbar-color-track:#f2f3f5;
  --channels-default: #6a7480;
  --header-primary: #060607;
  --header-secondary: #4f5660;

  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-warning: #faa81aff;
  --text-danger:hsl(359,calc(var(1, 1)*82.6%),59.4%);
  --text-brand:hsl(235,calc(var(1, 1)*85.6%),64.7%);

  --interactive-normal:#4f5660;
  --interactive-hover:#2e3338;
  --interactive-active:#060607;
  --interactive-muted:#c7ccd1;

  --background-primary: #fff;
  --background-tertiary: #e3e5e8;
  --background-secondary: #f2f3f5;
  --background-modifier-accent: rgba(6, 6, 7, 0.08);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-secondary-alt: #ebedef;

  --elevation-low: 0 1px 0 rgba(6, 6, 7, 0.1), 0 1.5px 0 rgba(6, 6, 7, 0.025), 0 2px 0 rgba(6, 6, 7, 0.025);
  --elevation-medium:0 4px 4px rgba(0,0,0,0.08);
  --elevation-high:0 8px 16px rgba(0,0,0,0.16);
}
body {
  background: #fff;
  direction: ltr;
  font-size: 15px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
  font-family: var(--font-chinese-simplified);
  text-rendering: optimizeLegibility;
}
input, textarea, select, button {
  color: #202124;
  font-family: var(--font-code);
}
button {
  font-family: var(--font-primary);
  font-weight: 500;
  border: 0;
  cursor: pointer;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
}
svg:not(:root) {
  overflow: hidden;
}
.owner-icon {
  color: var(--text-warning);
  margin-left: 4px;
}
.icon-wrapper {
  position: relative;
  height: 24px;
  width: auto;
  flex: 0 0 auto;
  margin: 0 8px;
}
.look-blank {
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
}
.clickable {
  cursor: pointer;
}
.reg-wrap {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
  box-sizing: border-box;
  background: linear-gradient(10deg, #f58229, #e65925 20%, #ef4129 40%, #e31f26 60%, #ed1164 80%,#ec008c);
  background-size: 100%;
  &:before, &:after {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 24px;
    box-sizing: border-box;
  }
  &:before {
    min-height: 30px;
  }
  .reg-container {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
    .user-layout-login {
      background: #36393f;
      width: 780px;
      padding: 32px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0, .2);
      border-radius: 5px;
      box-sizing: border-box;
      transform: scale(1) translateY(0px) translateZ(0px);
    }
    .login-box {
      flex: 1 1 auto;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      .login-con {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        overflow: hidden;
        font-size: 15px;
        h3 {
          font-weight: 600;
          color: #fff;
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 8px;
        }
        .tips {
          color: #202124;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.5;
          padding-bottom: 0;
          padding-top: 8px;
        }
        .form-login {
          display: inline-block;
          font-size: 15px;
          vertical-align: top;
          white-space: normal;
          width: 100%;
          .ant-col {
            width: 100%;
          }
          .ant-form-item-label > label {
            color: #8e9297;
          }
          .ant-input-affix-wrapper {
            border:1px solid rgba(0,0,0,0.3);
            background-color: rgba(0,0,0,.3);
            .ant-input-prefix, .ant-input-suffix {
              color: #dcddde;
            }
          }
          .ant-input-affix-wrapper-focused {
            box-shadow: none;
          }
          .ant-input {
            border: none;
            padding-left: 10px;
            background-color: transparent;
            color: #dcddde;
            font-size: 15px;
          }
          input::placeholder {
            opacity: .3;
          }
          .forget-password {
            color: @color-primary;
            margin-bottom: 10px;
          }
          button {
            width: 100%;
            min-width: 130px;
            min-height: 44px;
          }
        }
        .login-footer {
          color: #72767d;
          margin-top: 4px;
          span {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
      .vertical-separator {
        margin: 0 32px;
      }
      .qr-login {
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        .qr-code {
          display: flex;
          width: 176px;
          height: 176px;
          position: relative;
          margin-bottom: 32px;
          img {
            width: 176px;
            height: 176px;
            border-radius: 4px;
          }
          .qr-code-overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 50px;
              height: 50px;
              display: flex;
              image-rendering: crisp-edges;
            }
          }
        }
        h3 {
          font-weight: 600;
          font-size: 24px;
          color: #fff;
          line-height: 30px;
          margin-bottom: 8px;
        }
        p {
          color: #b9bbbe;
          font-size: 16px;
          line-height: 20px;
          span {
            color: @color-primary;
          }
        }
      }
    }
  }
}
.layout {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    box-sizing: border-box;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
  }
  .visible {
    position: relative;
    overflow: visible;
  }
  .guilds {
    position: relative;
    width: 72px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    height: 100%;
    background-color: var(--background-tertiary);
    .guilds-tree {
      display: flex;
      height: 100%;
    }
    .nav-scroller {
      user-select: none;
      padding: 12px 0 0;
      contain: layout size;
      position: relative;
      box-sizing: border-box;
      min-height: 0;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      .tutorial-container {
        position: relative;
      }
      .list-item {
        position: relative;
        margin: 0 0 8px;
        display: flex;
        justify-content: center;
        width: 72px;
        &:before {
          content: '';
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          width: 8px;
          height: 48px;
          contain: layout size;
        }
        &:hover:before,&.active:before,&.active:hover:before {
          opacity: 1;
          height: 40px;
          transition: background-color .2s ease-out,color .2s ease-out;
          top: 4px;
          display: block;
          width: 8px;
          border-radius: 0 4px 4px 0;
          margin-left: -4px;
          background-color: var(--header-primary);
        }
        &:hover:before {
          height: 20px;
          top: 14px;
        }
        .list-item-wrapper {
          box-sizing: border-box;
          position: relative;
          width: 48px;
          height: 48px;
          cursor: pointer;
          .circle-icon {
            background-color: var(--background-primary);
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            color: #faa61a;
            transition: color .2s ease-out,background-color .2s ease-out,border-radius .15s ease-out;
          }
        }
        &.active .list-item-wrapper .circle-icon, .list-item-wrapper .circle-icon:hover {
          background-color: #faa61a;
          color: #fff;
          border-radius: 37%;
          transition: border-radius .15s ease-out;
        }
        .guild-separator {
          height: 2px;
          width: 32px;
          border-radius: 1px;
          background-color: var(--background-modifier-accent);
        }
      }
    }
  }
  .base {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    .scroller-base {
      position: relative;
      box-sizing: border-box;
      min-height: 0;
      flex: 1 1 auto;
      overflow: hidden scroll;
      z-index: 1;
      direction: ltr;
      unicode-bidi: isolate;
    }
    .content {
      display: flex;
      align-items: stretch;
      justify-content: flex-start;
      min-width: 0;
      min-height: 0;
      flex: 1 1 auto;
    }
    .sidebar {
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      min-height: 0;
      width: 240px;
      flex: 0 0 auto;
      background: var(--background-secondary);
      .private {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        flex: 1 1 auto;
        min-height: 0;
        position: relative;
        background-color: var(--background-secondary);
        .header {
          position: relative;
          font-family: var(--font-display);
          font-weight: 500;
          padding: 0 16px;
          height: 48px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          z-index: 3;
          transition: background-color .1s linear;
          color: var(--header-primary);
          box-shadow: var(--elevation-low);
          h3 {
            font-size: 15px;
            font-weight: 600;
            line-height: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-box-flex: 1;
            flex: 1;
          }
        }
        .search-bar {
          z-index: 2;
          flex: 0 0 auto;
          -webkit-box-flex: 0;
          padding: 0 10px;
          height: 48px;
          align-items: center;
          box-shadow: var(--elevation-low);
          position: relative;
          display: flex;
          button {
            cursor: pointer;
            width: 100%;
            height: 28px;
            overflow: hidden;
            border-radius: 4px;
            background-color: var(--background-tertiary);
            box-shadow: none;
            color: var(--text-muted);
            text-align: left;
            text-overflow: ellipsis;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            white-space: nowrap;
          }
        }
      }
      .panels {
        flex: 0 0 auto;
        background-color: var(--background-secondary-alt);
        z-index: 1;
        .container {
          flex-shrink: 0;
          height: 52px;
          font-size: 14px;
          font-weight: 500;
          display: flex;
          align-items: center;
          padding: 0 8px;
          margin-bottom: 1px;
        }
        .avatar-wrapper {
          margin-right: 8px;
          .avatar {
            cursor: pointer;
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            .avatar-stack {
              display: grid;
              width: 100%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
                grid-area: 1/1;
                display: block;
                object-fit: cover;
                pointer-events: none;
                &:before {
                  content: "";
                  display: block;
                  width: 100%;
                  height: 100%;
                  background-color: var(--background-modifier-accent);
                }
              }
            }
          }
          .wrapper {
            position: relative;
            border-radius: 50%;
            .mask {
              pointer-events: none;
              position: absolute;
              display: block;
              height: 100%;
              width: auto;
            }
          }
        }
        .name-tag {
          cursor: pointer;
          user-select: text;
          margin-right: 4px;
          min-width: 0;
          flex: 1 1 auto;
          .username-container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .title {
              display: block;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
              color: var(--header-primary);
              line-height: 18px;
              font-weight: 600;
            }
            .icon-svg {
              flex: 0 0 auto;
              position: relative;
              top: 1px;
              width: 14px;
              height: 14px;
              flex-shrink: 0;
            }
          }
          .subtext {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            color: var(--header-secondary);
            line-height: 13px;
            font-size: 12px;
            .hover-roll {
              display: inline-block;
              vertical-align: top;
              cursor: default;
              text-align: left;
              box-sizing: border-box;
              position: relative;
              width: 100%;
              contain: paint;
              .default, .hovered {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                transition: all .22s ease;
                transform-style: preserve-3d;
                pointer-events: none;
                width: 100%;
              }
              .hovered {
                opacity: 0;
                transform: translate3d(0,107%,0);
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
              }
              .default {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
          &.force-hover:not(.disabled) .hovered, &:hover:not(.disabled) .hovered {
            transform: translateZ(0);
            opacity: 1;
          }
          &.force-hover:not(.disabled) .default, &:hover:not(.disabled) .default {
            transform: translate3d(0,-107%,0);
            opacity: 0;
            user-select: none;
          }
        }
        .setting {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
          align-items: stretch;
          flex: 0 1 auto;
          .button {
            line-height: 0;
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            position: relative;
            color: var(--interactive-normal);
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 500;
            user-select: none;
            cursor: pointer;
            &:hover {
              color: var(--interactive-hover);
              background-color: var(--background-modifier-selected);
            }
          }
        }
      }
    }
    .content-view {
      min-width: 0;
      min-height: 0;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      background: var(--background-primary);
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      .container-themed {
        box-sizing: border-box;
        background: var(--background-primary);
        position: relative;
        flex: 0 0 auto;
        z-index: 100;
        display: flex;
        align-items: center;
        min-width: 0;
        width: 100%;
        height: 48px;
        padding: 0 8px;
        font-size: 16px;
        line-height: 20px;
        cursor: default;
        color: var(--text-normal);
        .icon-header-svg {
          display: block;
          width: 24px;
          height: 24px;
          color: var(--text-muted);
        }
        h3 {
          font-family: var(--font-display);
          font-weight: 600;
          color: var(--header-primary);
          font-size: 16px;
          line-height: 20px;
        }
        .title-base {
          box-sizing: border-box;
          -webkit-box-flex: 0;
          align-items: center;
          display: flex;
          flex: 0 0 auto;
          min-width: auto;
          overflow: hidden;
          white-space: nowrap;
          justify-content: flex-start;
          margin: 0 8px 0 0;
        }
        .children {
          position: relative;
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          min-width: 0;
          overflow: hidden;
          &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 100%;
            background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,var(--background-primary));
          }
        }
        .toolbar{
          -webkit-box-flex: 0;
          display: flex;
          align-items: center;
          flex: 0 0 auto;
          min-width: 0;
          box-sizing: border-box;
        }
      }
      .page-wrapper {
        display: flex;
        height: 100%;
        position: relative;
        flex: 1 1 auto;
        flex-direction: column;
        &:before {
          content: "";
          position: absolute;
          display: block;
          top: -1px;
          left: 0;
          right: 0;
          height: 1px;
          box-shadow: var(--elevation-low);
          z-index: 1;
          pointer-events: none;
        }
        main.page-scroller {
          padding: 16px;
          height: 100%;
          padding-right: 0;
          footer {
            position: relative;
            flex-shrink: 0;
            padding-left: 16px;
            padding-right: 16px;
            margin-top: -8px;
          }
        }
      }
    }
    .sub-menu {
      position: relative;
      padding-top: 16px;
    }
    .menu-group {
      position: relative;
      box-sizing: border-box;
      height: 24px;
      padding-right: 8px;
      padding-left: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: default;
      color: var(--channels-default);
      h2 {
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: .25px;
        font-family: var(--font-display);
        font-weight: 600;
        color: var(--channels-default);
      }
    }
    .menu-item {
      padding: 1px 0;
      overflow: visible;
      position: relative;
      cursor: pointer;
      transition: opacity .2s ease-in-out;
      .menu {
        position: relative;
        box-sizing: border-box;
        padding: 0 8px;
        margin-left: 8px;
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .link {
          flex: 1 1 auto;
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          align-items: center;
          min-width: 0;
          padding: 6px 0;
          cursor: pointer;
          &:before {
            content: "";
            display: block;
            position: absolute;
            top: -1px;
            right: 0;
            bottom: -1px;
            left: 0;
          }
          .menu-icon {
            position: relative;
            margin-right: 6px;
            .icon-svg-menu {
              color: var(--text-muted);
              display: block;
              width: 20px;
              height: 20px;
              flex: 0 0 auto;
            }
          }
          .menu-name {
            font-size: 16px;
            line-height: 20px;
            font-weight: 500;
            flex: 1 1 auto;
            white-space: normal;
            text-overflow: ellipsis;
            overflow: hidden;
            position: relative;
            color: var(--channels-default);
          }
        }
      }
      &:hover .menu {
        background-color: var(--background-modifier-hover);
        .menu-name {
          color: var(--interactive-active);
        }
      }
      &.select {
        .menu {
          background-color: var(--background-modifier-selected);
          .menu-name {
            color: var(--interactive-active);
          }
        }
      }
    }
  }
}
