body {
  background: #fff;
  direction: ltr;
  font-size: 15px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}
body, input, textarea, select, button {
  color: #202124;
  font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
h1 {
  margin: 0;
}
.login-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background: #f0f2f5 url('~@/assets/images/background.svg') no-repeat 50%;
  background-size: 100%;
  &:before, &:after {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 24px;
    box-sizing: border-box;
  }
  &:before {
    min-height: 30px;
  }
  .container {
    width: 450px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    flex-shrink: 0;
    margin: 0 auto;
    transition: .2s;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
    .login-box {
      height: auto;
      min-height: 400px;
      transition: .2s;
      flex-grow: 1;
      overflow: hidden;
      padding: 48px 40px 36px;
      .login-logo {
        height: 24px;
        line-height: 24px;
        margin: 0 auto;
        overflow: visible;
        position: relative;
        display: flex;
        justify-content: center;
        img.logo {
          height: 24px;
          vertical-align: top;
          margin-right: 10px;
          border-style: none;
        }
        span.title {
          font-size: 20px;
          color: #21b3ff;
          font-family: 'Noto Sans Myanmar UI',arial,sans-serif;
          font-weight: 600;
          position: relative;
        }
      }
      .login-con {
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
        margin: auto -40px;
        font-size: 15px;
        .desc {
          text-align: center;
          h1 {
            color: #202124;
            padding-bottom: 0;
            padding-top: 16px;
            font-family: 'Noto Sans Myanmar UI',arial,sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3333;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
        .tips {
          color: #202124;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.5;
          padding-bottom: 0;
          padding-top: 8px;
        }
        .form-login {
          display: inline-block;
          font-size: 15px;
          padding: 24px 0 0;
          vertical-align: top;
          white-space: normal;
          width: 100%;
          .ant-col {
            width: 100%;
          }
        }
        .login-footer {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          width: 100%;
          min-height: 48px;
          .left, .right {
            flex-grow: 1;
          }
          .left {
            margin-left: -8px;
            a {
              letter-spacing: .25px;
              text-transform: none;
              transition: background .3s;
              display: inline-block;
              font-weight: 500;
              min-width: 88px;
              line-height: 1.4286;
              margin: 8px;
              max-width: 300px;
            }
          }
          .right {
            text-align: right;
          }
        }
      }
    }
  }
}
