body {
  background: #fff;
  direction: ltr;
  font-size: 15px;
  line-height: 1.4286;
  margin: 0;
  padding: 0;
}
body, input, textarea, select, button {
  color: #202124;
  font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
h1 {
  margin: 0;
}
.login-main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  &:before, &:after {
    content: '';
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    height: 24px;
    box-sizing: border-box;
  }
  &:before {
    min-height: 30px;
  }
  .container {
    width: 450px;
    border-radius: 8px;
    border: 1px solid #dadce0;
    display: block;
    flex-shrink: 0;
    margin: 0 auto;
    transition: .2s;
    flex-direction: column;
    max-width: 100%;
    position: relative;
    z-index: 2;
    background: #fff;
    .login-box {
      height: auto;
      min-height: 500px;
      transition: .2s;
      flex-grow: 1;
      overflow: hidden;
      padding: 48px 40px 36px;
      .login-logo {
        height: 24px;
        line-height: 24px;
        margin: 0 auto;
        overflow: visible;
        position: relative;
        display: flex;
        justify-content: center;
        img.logo {
          height: 24px;
          vertical-align: top;
          margin-right: 10px;
          border-style: none;
        }
        span.title {
          font-size: 20px;
          color: #21b3ff;
          font-family: 'Noto Sans Myanmar UI',arial,sans-serif;
          font-weight: 600;
          position: relative;
        }
      }
      .login-con {
        overflow: hidden;
        padding-left: 40px;
        padding-right: 40px;
        margin: auto -40px;
        font-size: 15px;
        .desc {
          text-align: center;
          h1 {
            color: #202124;
            padding-bottom: 0;
            padding-top: 16px;
            font-family: 'Noto Sans Myanmar UI',arial,sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 1.3333;
            margin-bottom: 0;
            margin-top: 0;
          }
        }
        .tips {
          color: #202124;
          font-size: 16px;
          font-weight: 400;
          letter-spacing: .1px;
          line-height: 1.5;
          padding-bottom: 0;
          padding-top: 8px;
        }
        .form-login {
          display: inline-block;
          font-size: 15px;
          padding: 24px 0 0;
          vertical-align: top;
          white-space: normal;
          width: 100%;
          .ant-col {
            width: 100%;
          }
        }
        .login-footer {
          display: flex;
          flex-direction: row-reverse;
          flex-wrap: wrap;
          width: 100%;
          margin-top: 30px;
          min-height: 48px;
          .left, .right {
            flex-grow: 1;
          }
          .left {
            margin-left: -8px;
            a {
              letter-spacing: .25px;
              text-transform: none;
              transition: background .3s;
              display: inline-block;
              font-weight: 500;
              min-width: 88px;
              line-height: 1.4286;
              margin: 8px;
              max-width: 300px;
            }
          }
          .right {
            text-align: right;
          }
        }
      }
    }
  }
}
// 主框架样式
.ant-layout {
  min-height: 100vh;
  .logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    box-shadow: 1px 1px 0 0 #e8e8e8;
  }
  .trigger {
    line-height: 64px;
    cursor: pointer;
    height:64px;
    padding:0 24px;
    font-size:20px;
    transition:all .3s,padding 0s;
    &:hover {
      background:rgba(0,0,0,.025)
    }
  }
  .ant-layout-sider {
    position: relative;
    z-index: 10;
    transition: all 0.2s;
    background-color: white;
    box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);
    .ant-menu-item .anticon, .ant-menu-submenu-title .anticon {
      font-size: 16px;
      + span {
        font-size: 16px;
      }
    }
  }
  .ant-layout-header {
    position: relative;
    z-index: 9;
    box-shadow: 0 1px 4px rgba(0,21,41,.08);
    .global-header {
      margin-right: 10px;
      box-sizing: border-box;
      float: right;
      height: 100%;
      margin-left: auto;
      overflow: hidden;
      display: flex;
      align-items: center;
      .account-avatar {
        display: inline-block;
        height: 100%;
        padding: 0 12px;
        cursor: pointer;
        color: #999;
        transition: all .3s;
        &:hover{
          background:rgba(0,0,0,.025)
        }
        .global-header-avatar {
          margin-right: 8px;
        }
      }
    }
  }
}
//workPlace
.work-place {
  .header-wrap {
    background-color: #fff;
    .grid-content {
      width: 100%;
      min-height: 100%;
      transition: .3s;
      .page-header {
        margin: 0;
        color: rgba(0,0,0,.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        list-style: none;
        font-feature-settings: "tnum";
        position: relative;
        padding: 16px 24px;
      }
    }
  }
}
